
<h3>Ready to battle ?</h3>
<form action="/challenge/create" method="POST">
    <input type="hidden" type="text" name="league" value="{{league}}">
  <label> Game </label>
  <select name="game">
      {{#each games}}
          <option value="{{id}}">{{name}}</option>
      {{/each}}
  </select>
  <p>Don't find the right game ? <a href="/games/create">Create a game</a></p>
  
  <label> Contenders
      <select name="users" multiple>
          {{#each users}}
              <option value="{{id}}">{{username}}</option>
          {{/each}}
      </select>
  </label>
  <label> Stake
    <input type="Number" name="stake">
  </label>

  <button type="submit">Create Your Challenge</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}


{{!-- const challengeSchema = new Schema(
  {
    contenders: [{ type: Schema.Types.ObjectId, ref: "User", required: true }],
    leagues: [{ type: Schema.Types.ObjectId, ref: "League" }],
    game: { type: Schema.Types.ObjectId, ref: "Game", required: true },
    winners: [{ type: Schema.Types.ObjectId, ref: "User" }],
    stake: { type: Number, min: 0, required: true },
    isCompleted: { type: Boolean },
  },
  {
    // this second object adds extra properties: `createdAt` and `updatedAt`
    timestamps: true,
  }
); --}}
