<h4>Edit challenge</h4>

<form action="/challenge/edit/{{challenge.id}}" method="POST">
  <label for="challengeID">
    <input hidden type="text" name="challengeID" id="challengeID" value="{{challenge.id}}">
  </label>

  <label> league
      <select name="league">
          {{#each leagues}}
            {{#if selected}}
              <option selected value="{{id}}">{{name}}</option>
            {{else}}
              <option value="{{id}}">{{name}}</option>
            {{/if}}
          {{/each}}
      </select>
  </label>
  <p></p>

  <label> game
      <select name="game">
          {{#each games}}
            {{#if selected}}
            {{!-- si on met seulement id, ca ne passe pas ici --}}
              <option selected value="{{_id}}">{{name}}</option> 
            {{else}}
              <option value="{{_id}}">{{name}}</option>
            {{/if}}
          {{/each}}
      </select>
  </label>
  <p></p>

  <label> contenders
      <select name="contenders" multiple>
          {{#each usersContender}}
            {{#if selected}}
              <option selected value="{{id}}">{{username}}</option>
            {{else}}
              <option value="{{id}}">{{username}}</option>
            {{/if}}
          {{/each}}
      </select>
  </label>
  <p></p>

  <label>stake
    <input type="Number" name="stake" value="{{challenge.stake}}">
  </label>
  <p></p>

  <label>isCompleted
    {{#if challenge.isCompleted}}
      <input type="checkbox" name="isCompleted" checked>
    {{else}}
      <input type="checkbox" name="isCompleted">
    {{/if}}
  </label>
  <p></p>

  <label> winners
      <select name="winners" multiple>
          {{#each usersWinner}}
            {{#if selected}}
              <option selected value="{{id}}">{{username}}</option>
            {{else}}
              <option value="{{id}}">{{username}}</option>
            {{/if}}
          {{/each}}
      </select>
  </label>
  <p></p>

  <button type="submit">Edit Your Challenge</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
