{{#each challenges}}
    <p>{{id}}</p>
    <p>league: {{league.name}}</p>
    <p>game: {{game.name}}</p>
    <ul>
        {{#each contenders}}
            <li>{{username}}</li>
        {{/each}}
    </ul>
    <p>stack: {{stake}}</p>
    <p>isCompleted: {{isCompleted}}</p>
    <a href="/challenge/edit/{{id}}">edit challenge</a>
    <a href="/challenge/delete/{{id}}">delete challenge</a>
{{/each}}