<h1>Games list</h1>
<div class="row">
<a href="/games/create" class="paper-btn">Create a new game</a>
</div>
{{#each games}}
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">{{name}} {{emoji}}</h4>
            <h6 class="card-subtitle">
                {{#if isPrivate}}
                <p>This game is private and available to : 
                    {{#each ownerLeagues}}
                        {{name}} |
                    {{/each}}
                </p>
                {{else}}
                    <p>This game is public</p>
                {{/if}}
            </h6>
            <p class="card-text">{{description}}</p>
            <div class="row">
                <a href="/games/{{_id}}/edit" class="paper-btn">Edit game</a>
            </div>
        </div>
    </div>
{{/each}}
