<h1>Games list</h1>
{{#each games}}
    <div>
        <h1>{{name}}</h1>
        <h2>{{emoji}}</h2>
        <p>{{description}}</p>
        {{#if isPrivate}}
            <p>This game is private and available to : 
                {{#each ownerLeagues}}
                    {{name}} |
                {{/each}}
            </p>
        {{else}}
            <p>This game is public</p>
        {{/if}}
        <p><a href="/games/{{_id}}/edit">Edit game</a></p>
        <p><a href="/games/{{_id}}/delete">Delete game</a></p>
    </div>
{{/each}}