<h1>League edit</h1>
{{#with league}}
    <form action="/leagues/{{_id}}/edit" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value = "{{name}}">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" value = "{{description}}">
                <label for="coverPicture">Picture</label>
                <input type="file" name="coverPicture" id="coverPicture">
            </div>
            <div>
                <label for = "members">Members</label>
                <select name="members" id="members" multiple>
                    {{#each members}}
                        <option selected value="{{_id}}">{{username}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <input type="submit" value = "Edit league">
            </div>
            <div>
                <p><strong><a href="/leagues/{{_id}}/delete">Delete league</a></strong></p>
            </div>
            <div>
                <p><strong><a href="/leagues/{{_id}}/leave">Leave league</a></strong></p>
            </div>
                    
            <h2>Invite your friends</h2>
            <div>
                Send this key to your friends so they can join the league : {{inviteKey}}
            </div>
            <div>
                Share this link for your friends to join the league : <a href="/leagues/join/{{inviteKey}}">Invitation link</a>
            </div>
    </form>
{{/with}}