<h1>Leagues list</h1>
<h2><a href="/leagues/create">(+) Create a new league</a></h2>
<h2><a href="/leagues/join">(+) Join a league</a></h2>
{{#each leagues}}
    <div>
        <h1>{{name}}</h1>
        <p>{{description}}</p>
        <p>Team members are : 
            {{#each members}}
                {{username}} |
            {{/each}}
        </p>
        <p><a href="/leagues/{{_id}}/invite">Invite friends</a></p>
        <p><a href="/leagues/{{_id}}/edit">Edit league</a></p>
    </div>
{{/each}}