<h1>Leagues</h1>
<div class="row">
<a href="/leagues/create" class="paper-btn">Create a new league</a>
<a href="/leagues/join" class="paper-btn">Join a league</a>
</div>
{{#each leagues}}
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <h6 class="card-subtitle">Members : 
            {{#each members}}
                {{username}} |
            {{/each}}</h6>
            <p class="card-text">{{description}}</p>
            <div class="row">
                <a href="/leagues/{{_id}}/invite" class="paper-btn">Invite friends</a>
                <a href="/leagues/{{_id}}/edit" class="paper-btn">Edit league</a>
            </div>
        </div>
    </div>
{{/each}}