<h1>{{user.username}}</h1>
<h2>Leagues:{{statsPerLeague.length}}</h2>
{{#each statsPerLeague}}
    <div>
        <h1>{{countPerLeague._id.name}}</h1>
        <div>
            <p>Number of members : {{countPerLeague._id.members.length}}</p>
            <p>Number of challenges : {{countPerLeague.count}}</p>
            <p>Total stake : {{countPerLeague.totalStake}}</p>
        </div>
         <div>
            <h2>Leaderboard</h2>
            <ol>
            {{#each rankingPerLeague}}
                <li>{{_id.winners.username}} | Stake won : {{totalStake}} | Challenges won : {{count}} | <a href="/boards/{{_id.winners._id}}">See stats</a></li>
            {{/each}}
            {{#each noWinners}}
                <li>{{username}} | Stake won : 0 | Challenges won : 0 | <a href="/boards/{{_id}}">See stats</a></li>
            {{/each}}
            </ol>
        </div>
        <div>
            <h2>Your KPI</h2>
           <p>You won {{#if countPerWinner}}{{countPerWinner.count}}{{else}}0{{/if}} challenges out of {{countPerUser.count}} challenges you took </p>
            <p>You won {{#if countPerWinner}}{{countPerWinner.totalStake}}{{else}}0{{/if}} out of {{countPerUser.totalStake}} you staked </p>
        </div>
    </div>
{{/each}}